$black: #010101;
$grey90: #161616;
$grey80: #262626;
$grey70: #424242;
$grey50: #808080;
$white: #FFFFFF;

@import url('https://cdn.jsdelivr.net/npm/hack-font/build/web/hack-subset.css');
$base-font-family: 'Hack', monospace;
$base-font: 14px/18px $base-font-family;
