@import '../mixins.scss';
@import '../vars.scss';

// based on https://codepen.io/suez/pen/myvgdg?editors=1100
// adapted for React

.loader {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 2em 3.464em 2em;
  border-color: transparent transparent #FF4950 transparent;
  position: relative;

  &::after {
    position: absolute;
    bottom: -8em;
    left: 50%;
    transform: translateX(-50%);
    content: 'LOADING';
    font-size: 0.75em;
    opacity: 0.5;
  }
}
